In [ ]:
### These all notes are made by Gibran Khan Tareen. I have made it for other student's reference and also for my personal revision ###

# Question:
## Print the following pattern for the given N number of rows.
## Pattern for N = 4

# Input format : Integer N (Total no. of rows)
# Output format : Pattern in N lines

# Sample Input : 3
# Sample Output : 333
#                 22
#                 1

In [1]:
n = int(input())
for i in range(n, 0, -1):
    print(str(i) * i)

5
55555
4444
333
22
1

In [ ]:
# HENCE DONE